<app-navbar></app-navbar>

<div class="headerImg" *ngIf="page === 0 && isHeader != '0'">
  <div class="text">
    <h1>NEW COLLECTION</h1>
    <hr />
    <h2>2021</h2>
  </div>
  <img src="../../../../assets/1.png" alt="" />
</div>
<div class="noResult" *ngIf="!(items$ | async)?.length && (items$ | async)">
  <h2>NO MATCHING ITEMS</h2>
</div>
<div class="noResult" *ngIf="!(items$ | async)">
  <h2>LOADING PAGE...</h2>
</div>

<div class="container">
  <div class="item" *ngFor="let item of items$ | async">
    <div class="img">
      <img [src]="item.image" />

      <img
        *ngIf="item.stock != 0; else outOfStock"
        class="cartIcon"
        src="../../../../assets/cartIcon.svg"
        alt=""
        (click)="addCart(item)"
      />
      <ng-template #outOfStock>
        <img class="cartIcon" style="cursor: default" src="../../../../assets/out.svg" alt="" />
      </ng-template>
    </div>
    <p class="namePrice">
      {{ item.name }} <br />
      {{ item.price }} $
    </p>
  </div>
</div>

<div class="page" *ngIf="items$ | async">
  <button
    *ngIf="page != 0"
    mat-raised-button
    queryParamsHandling="merge"
    [routerLink]="['/home/', page - 1]"
  >
    Previous
  </button>
  <ng-container *ngFor="let item of [].constructor(7); let index = index">
    <button
      mat-button
      queryParamsHandling="merge"
      [routerLink]="['/home/', index - 3 + page]"
      [style.text-decoration]="index === 3 ? 'underline' : 'none'"
      *ngIf="index - 3 + page > -1 && index - 3 < count / 20 - page"
    >
      {{ index - 3 + page }}
    </button>
  </ng-container>

  <button
    *ngIf="page != count"
    mat-raised-button
    queryParamsHandling="merge"
    [routerLink]="['/home/', page + 1]"
  >
    Next
  </button>
</div>
