@import 'global';

.noResult {
  @include flex(center);
  margin-top: 100px;
  h2 {
    font-family: 'HMSansLatin-SemiBold';
  }
}
.headerImg {
  @include flex(center, center);
  margin-bottom: 50px;
  @include resp(max-width, 700) {
    display: none;
  }

  img {
    @include maxsize;
    background: #eae7e0;
  }

  .text {
    @include flex(none, none, column);
    text-align: center;
    position: absolute;
    display: flex;
    hr {
      border: 1px solid black;
      width: 75px;
      margin-bottom: 2px;
    }
    h1 {
      margin: 0;
      font-weight: 100;
      font-size: 32px;
      font-family: 'Raleway', Helvetica, Arial, sans-serif;
    }
  }
}

.container {
  @include flex(space-between);
  flex-wrap: wrap;
  margin: 15px 50px 70px 50px;
}

.item {
  @include flex(none, none, column);
  font-size: 13px;
  margin: 0 2px 30px 2px;
  flex: 1 1 350px;
  .img {
    background-color: #eae7e0;
    position: relative;
    .cartIcon {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 35px;
      height: 35px;
      padding: 5px;
      cursor: pointer;
    }
    img {
      @include maxsize;
      background: white;
      mix-blend-mode: multiply;
    }
  }

  button {
    border: none;
    height: 50px;
    width: 60%;
    border-radius: 8px;
    * {
      vertical-align: middle;
    }
  }

  .namePrice {
    margin: 15px 0 0 0;
  }
}

.page {
  @include flex(center, center);
  overflow: hidden;
  padding-bottom: 75px;
}
