@import 'global';

* {
  font-size: 13px;
}

button {
  font-family: 'HMSansLatin-SemiBold';
  line-height: 1em;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

.container {
  @include flex(center, center, column);
  h1 {
    margin: 150px 0 30px 0;
    font-size: 38px;
    font-family: 'HMSansLatin-SemiBold';
  }
}

.core {
  @include flex(center, none, row);
  @include resp(max-width, 700) {
    @include flex(center, none, column);
  }
  @include maxsize;
  height: auto;
}

.empty {
  @include flex(center, center, column);

  background: white;
  padding: 32px;
  align-items: center;
  width: 25%;
  @include resp(max-width, 700) {
    width: 100%;
    
  }
  h2 {
    font-size: 25px;
    font-family: 'HMSansLatin-SemiBold';
  }

}

.containerInfo {
  @include flex(space-between, none, column);
  @include resp(min-width, 700) {
    max-width: 670px;
  }
  margin-right: 20px;
  .item {
    position: relative;
    margin: 10px;
    @include flex(none, none, row);
    .img {
      flex-basis: 115px;
      background-color: #eae7e0;
      img {
        @include maxsize;
        background: white;
        mix-blend-mode: multiply;
      }
    }
    .textItem {
      @include flex(space-between, none, column);
      margin-left: 10px;
      .namePrice {
        margin-top: 10px;
      }
      .quantity {
        border: 1px solid #d0d0d0;
        height: 35px;
        width: 50px;
        outline: none;
      }
    }
    .cross {
      position: absolute;
      right: 0;
      padding: 5px;
      border: none;
      outline: none;
      background: inherit;
      cursor: pointer;
      img {
        height: 8px;
      }
    }
  }
}

.containerPay {
  @include resp(min-width, 700) {
    align-self: flex-start;
    position: sticky;
    top: 0;
    min-width: 350px;

  }
  background: white;
  padding: 20px;
  .discount {
    @include flex(space-between);
    margin: 10px 0 15px 0;
    .input {
      border: 1px solid #d0d0d0;
      height: 45px;
      padding: 6px;
      width: 65%;
      display: flex;
      input {
        min-width: 0;
        font-size: 15px;
        border: none;
        outline: none;
      }
    }
    button {
      border: 1px solid black;
      background: inherit;
      height: 45px;
      margin-left: 10px;
      width: 100%;
    }
  }
  .connect {
    margin-top: 5px;
    border: 1px solid black;
    background: inherit;
    height: 45px;
    width: 100%;
  }
  .orderValue,
  .shipping,
  .total {
    @include flex(space-between);
  }
  .orderValue {
    margin-top: 25px;
  }
  hr {
    margin: 20px 0 0 0;
    height: 1px;
    border: none;
    background-color: black;
  }
  .total {
    margin: 15px 0 20px 0;
    span {
      font-family: 'HMSansLatin-SemiBold';
      font-size: 15px;
    }
  }
  .finish {
    border: none;
    background: #222;
    color: white;
    height: 45px;
    width: 100%;
    &:disabled {
      background: #e4e4e4;
      color: #707794;
      cursor: default;
    }
  }
}
