<app-navbar></app-navbar>

<div class="body">
  <div class="containerInfo">
    <div class="item" *ngFor="let item of cartItems; let indexCart = index">
      <div class="img">
        <img src="{{ item.image }}" />
      </div>

      <div class="textItem">
        <p class="namePrice">
          {{ item.name }} <br />
          {{ item.price }} $
        </p>

        <select #select class="quantity" (change)="changeQuantity(item.dname, select.value, indexCart)">
          <option
            *ngFor="let stock of [].constructor(item.stock); let indexStock = index"
            [attr.selected]="indexStock + 1 === item.quantity ? true : null"
            value="{{ indexStock + 1 }}" 
            
          >
            {{ indexStock + 1 }}
          </option>
        </select>
      </div>
      <img
        class="cross"
        src="../../../../assets/cross.png"
        alt=""
        (click)="removeItem(item.dname, indexCart)"
      />
    </div>
  </div>
  <div class="containerPay"></div>
</div>
