@import 'global';

.body {
  @include flex(center, center);
  @include maxsize;
}

.container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  @include flex(center, none, column);
  max-height: 700px;
  .item {
    display: flex;
    height: 55px;
    margin: 5px;
    max-width: 700px;
    .img {
      img {
        object-fit: contain;
        flex: 1;
        min-width: 0;
        min-height: 0;
      }
    }

    .name {
      width: 500px;
      margin-right: 15px;
    }
    .price {
      width: 100px;
    }
    .delete {
      margin-left: 10px;
      cursor: pointer;
    }
  }
  .total {
    @include flex(flex-end);
    padding-right: 30px;
  }
}
