@import 'global';

.body {
  @include flex(center, none, row);
  @include maxsize;
  height: auto;
  margin-top: 250px;
}

.containerInfo {
  @include flex(space-between, none, column);
  max-width: 500px;
  overflow: hidden;
  height: auto;
  .item {
    position: relative;
    margin: 10px;
    @include flex(none, none, row);
    font-size: 13px;
    .img {
      flex-basis: 95px;
      background-color: #eae7e0;
      img {
        @include maxsize;
        background: white;
        mix-blend-mode: multiply;
      }
    }
    .textItem {
      @include flex(space-between, none, column);
      margin-left: 10px;
      .namePrice {
        margin-top: 10px;
      }
      .quantity {
        border: 1px solid #d0d0d0;
        height: 35px;
        width: 50px;
        outline: none;
      }
    }
    .cross {
      width: 10px;
      position: absolute;
      right: 0;
      padding: 5px;
      cursor: pointer;
    }
  }
}

.containerPay{
  @include flex();
  position: sticky;
  width: 200px;
  height: 100px;
  background: red;
}