<div class="body">
  <form [formGroup]="registerForm" class="container">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required />
      <mat-error *ngIf="registerForm.get('firstName')!.invalid">{{
        'You must enter a value'
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" required />
      <mat-error *ngIf="registerForm.get('lastName')!.invalid">{{
        'You must enter a value'
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" [(value)]="selectedGender" required>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
      <mat-error *ngIf="registerForm.get('gender')!.invalid">{{
        'You must enter a value'
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required />
      <mat-error *ngIf="registerForm.get('username')!.invalid">{{
        'You must enter a value'
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required />
      <mat-error *ngIf="registerForm.get('email')!.invalid">{{
        'You must enter a value'
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Adress</mat-label>
      <input matInput formControlName="adress" required />
      <mat-error *ngIf="registerForm.get('adress')!.invalid">{{
        'You must enter a value'
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone number</mat-label>
      <input matInput formControlName="phone" required />
      <mat-error *ngIf="registerForm.get('phone')!.invalid">{{
        'You must enter a value'
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>BirthDate</mat-label>
      <input matInput formControlName="birthDate" required />
      <mat-error *ngIf="registerForm.get('birthDate')!.invalid">{{
        'You must enter a value'
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" required />
      <mat-error *ngIf="registerForm.get('password')!.invalid">{{
        'You must enter a value'
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="passwordCheck" required />
      <mat-error *ngIf="registerForm.get('passwordCheck')!.invalid">{{
        'You must enter a value'
      }}</mat-error>
    </mat-form-field>

    <button
      (click)="register()"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!registerForm.valid"
    >
      Sign in
    </button>
  </form>
</div>
