@font-face {
  font-family: HMSansLatin-Regular;
  src: url('./app/shared/fonts/HMSansLatin-Regular.woff2') format('woff2'), 
    url('./app/shared/fonts/HMSansLatin-Regular.woff2') format('woff');
}
@font-face {
  font-family: HMSansLatin-SemiBold;
  src: url('./app/shared/fonts/HMSansLatin-SemiBold.woff2') format('woff2'), 
    url('./app/shared/fonts/HMSansLatin-SemiBold.woff') format('woff');
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #faf9f8;
}

* {
  font-family: 'HMSansLatin-Regular';
  box-sizing: border-box;
}
