@import url(https://db.onlinewebfonts.com/c/09c8fb44d2c62d99647e4ce58736293e?family=HMSansLatin-Regular);
@import url(https://db.onlinewebfonts.com/c/c352028deedbafe44d35574c0214fedf?family=HMSansLatin-SemiBold);
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #faf9f8;
}

* {
  font-family: 'HMSansLatin-Regular';
  box-sizing: border-box;
}
