@import url(https://db.onlinewebfonts.com/c/09c8fb44d2c62d99647e4ce58736293e?family=HMSansLatin-Regular);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #faf9f8;
}

* {
  font-family: 'HMSansLatin-Regular';
}
