<mat-toolbar class="navbar">
  <div class="search">
    <input placeholder="Search Products" />
    <mat-icon>search</mat-icon>
  </div>

  <span class="logo" [routerLink]="['/home/0']">║ ＣＬＯＴＨＩＮＧ ║</span>

  <div class="utils">
    <button class="home" mat-button [routerLink]="['/home/0']">
      <mat-icon> home </mat-icon>
    </button>
    <button mat-flat-button [routerLink]="['/cart']" class="cartButton" (mouseenter)="getCart()">
      <div class="menuCart">
        <div class="itemContainer">
          <div class="item" *ngFor="let item of cartItems; let indexCart = index">
            <div class="img">
              <img src="{{ item.image }}" />
            </div>
            <div class="textItem">
              <p class="namePrice">
                {{ item.name }} <br/>
                {{ item.price }} $  <br/>
                Quantity : {{item.quantity}}
              </p>
            </div>
          </div>
        </div>
        <div class="containerPay">
          <ng-container *ngIf="total != 0">
            <div class="orderValue">
              <span>ORDER VALUE</span>
              <span>{{ total }} $</span>
            </div>
            <div class="shipping">
              <span>Shipping</span>
              <span>4,99 $</span>
            </div>
          </ng-container>

          <hr />
          <div class="total">
            <span>Total:</span>
            <span>{{ total != 0 ? total + 4.99 + ' $' : '0 $' }}</span>
          </div>
          <button class="finish" [attr.disabled]="total === 0 ? true : null">
            CONTINUE TO CHECKOUT
          </button>
        </div>
      </div>
      <mat-icon matBadge="" matBadgeColor="warn" matBadgeSize="small" class="cartIcon">
        shopping_basket
      </mat-icon>
      <label class="cartLabel">My cart</label>
    </button>

    <span style="margin-right: 10px" class="separator"></span>
    <button mat-flat-button [matMenuTriggerFor]="menuAccount">
      <mat-icon> account_circle </mat-icon>
      <label class="accountLabel"> My account</label>
    </button>
    <mat-menu #menuAccount="matMenu">
      <ng-container *ngIf="loggedIn(); else logoutTemplate">
        <button [routerLink]="['/login']" mat-menu-item>
          <span>Login</span>
        </button>
        <button [routerLink]="['/register']" mat-menu-item>
          <span>Register</span>
        </button>
      </ng-container>
      <ng-template #logoutTemplate>
        <button [routerLink]="['/home/0']" (click)="logout()" mat-menu-item>
          <span>Logout</span>
        </button>
      </ng-template>
    </mat-menu>
  </div>
</mat-toolbar>
