<mat-toolbar class="navbar">
  <form class="search" (submit)="search()">
    <input id="input" placeholder="Search Products" />
    <mat-icon (click)="search()" type="submit">search</mat-icon>
  </form>

  <span class="logo" [routerLink]="['/home/0']">║ ＣＬＯＴＨＩＮＧ ║</span>

  <div class="utils">
    <button class="home" mat-button [routerLink]="['/home/0']">
      <mat-icon> home </mat-icon>
    </button>
    <button mat-flat-button [routerLink]="['/cart']" class="cartButton">
      <div class="menuCart">
        <div class="itemContainer">
          <div class="item" *ngFor="let item of cartItems$ | async; let indexCart = index">
            <div class="img">
              <img src="{{ item.image }}" />
            </div>
            <div class="textItem">
              <p class="namePriceQ">
                <span style="font-family: 'HMSansLatin-SemiBold'"> {{ item.name }}</span>
                <br />
                Price : {{ item.price }} $
                <br />
                Quantity : {{ item.quantity }} <br /><br /><br />
                <span style="font-family: 'HMSansLatin-SemiBold'"
                  >Total : {{ total$ | async }} $</span
                >
              </p>
            </div>
          </div>
        </div>
        <div class="containerPay">
          <ng-container *ngIf="(total$ | async) === 0">
            <span style="font-family: 'HMSansLatin-SemiBold'">YOUR SHOPPING BAG IS EMPTY!</span>
          </ng-container>

          <ng-container *ngIf="(total$ | async) != 0">
            <div class="orderValue">
              <span>ORDER VALUE</span>
              <span>{{ total$ | async }} $</span>
            </div>
            <div class="shipping">
              <span>Shipping</span>
              <span>4,99 $</span>
            </div>
          </ng-container>

          <hr />
          <div class="total">
            <span>Total:</span>
            <span>{{ (total$ | async) != 0 ? (total$ | async)! + 4.99 + ' $' : '0 $' }}</span>
          </div>
          <button class="finish" [attr.disabled]="(total$ | async) === 0 ? true : null">
            CONTINUE TO CHECKOUT
          </button>
        </div>
      </div>
      <mat-icon matBadge="" matBadgeColor="warn" matBadgeSize="small" class="cartIcon">
        shopping_basket
      </mat-icon>
      <label class="cartLabel">My cart</label>
    </button>

    <span style="margin-right: 10px" class="separator"></span>
    <button mat-flat-button [matMenuTriggerFor]="menuAccount">
      <mat-icon> account_circle </mat-icon>
      <label class="accountLabel"> My account</label>
    </button>
    <mat-menu #menuAccount="matMenu">
      <ng-container *ngIf="loggedIn(); else logoutTemplate">
        <button [routerLink]="['/login']" mat-menu-item>
          <span>Login</span>
        </button>
        <button [routerLink]="['/register']" mat-menu-item>
          <span>Register</span>
        </button>
      </ng-container>
      <ng-template #logoutTemplate>
        <button [routerLink]="['/home/0']" (click)="logout()" mat-menu-item>
          <span>Logout</span>
        </button>
      </ng-template>
    </mat-menu>
  </div>
</mat-toolbar>
