@import 'global';

* {
  color: black;
  background: #faf9f8;
  button{
    cursor: pointer;
  }
  
}



.navbar {
  @include flex();
  padding: 0 100px 0 100px;
  @include resp(max-width, 1000) {
    padding: 0 10px 0 10px;
  }
  .logo {
    @include flex(center);
    flex: 1;
    cursor: pointer;
    outline: none;
    @include resp(max-width, 1000) {
      display: none;
    }
  }



  .search {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    input {
      width: 40%;
      @include resp(max-width, 1000) {
        width: 80%;
      }
      outline: none;
      border: 0;
      border-bottom: 1px solid;
      &:focus {
        border-bottom: 2px solid;
      }
    }
    mat-icon {
      vertical-align: middle;
      margin-left: 3px;
      cursor: pointer;
    }
  }

  .cartIcon {
    margin-right: 10px;
  }

  .utils {
    flex: 1;
    @include flex(flex-end);
    .cartButton {
      scrollbar-width: thin;
      scrollbar-color: blue orange;

      &:hover,
      .menuCart:hover {
        .menuCart {
          @include flex(none, none, column);
        }
      }
      .menuCart {
        * {
          background: white;
        }
        display: none;
        position: absolute;
        right: 0;
        top: 35px;
        width: 300px;
        z-index: 5;
        .itemContainer {
          overflow: scroll;
          overflow-x: hidden;
          max-height: 300px;
          .item {
            font-size: 13px;
            margin: 10px;
            @include flex(none, none, row);
            .img {
              flex: 0 0 100px;
              background: #eae7e0;
              img {
                mix-blend-mode: multiply;
                @include maxsize;
              }
            }
            .textItem {
              @include flex(space-between, none, column);
              margin-left: 10px;
              .namePrice {
                margin-top: 10px;
              }
            }
          }
        }

        .containerPay {
          background: white;
          padding: 20px;

          .orderValue,
          .shipping,
          .total {
            @include flex(space-between);
          }
          .orderValue {
            margin-top: 25px;
          }
          hr {
            margin: 20px 0 0 0;
            height: 1px;
            border: none;
            background-color: black;
          }
          .total {
            margin: 15px 0 20px 0;
            span {
              font-family: 'HMSansLatin-SemiBold';
              font-size: 15px;
            }
          }
          .finish {
            border: none;
            background: #222;
            color: white;
            height: 45px;
            width: 100%;
            &:disabled {
              background: #e4e4e4;
              color: #707794;
              cursor: default;
            }
          }
        }
      }
    }
    .home {
      @include resp(min-width, 1000) {
        display: none;
      }

    }
  }

  @include resp(max-width, 1000) {
    .logo,
    .cartLabel,
    .accountLabel,
    .separator {
      display: none;
    }
    button {
      padding: 0 5px 0 5px;
      width: 40px;
      min-width: 0;
    }
  }
}
